<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for :session do |f| %>
  <table>
    <tr>
      <td>Email</td>
      <td><%= f.text_field :email%></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><%= f.password_field :password %></td>
    </tr>
  </table>
  <br>
  <%= f.submit "Continue Budgeting" %>
<% end %>
