<h1>AccountActivation#show</h1>
<p>Find me in app/views/account_activation/show.html.erb</p>

<% if @activation %>
  Yay! Your account is confirmed!
<% else %>
  Sad! There was a problem....
<% end %>