<tr>
  <td><%= credential_form.label credential.field_label %></td>
  <td>
    <%= credential_form.select :value do %>
      <% credential.options.each do |c| %>
        <%= content_tag(:option, c.label, value: c.value) %>
      <% end %>
    <% end %>
  </td>
</tr>
